.of-btn-outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.of-btn-outline {
    border: 2px solid #265A88;
    color: #265A88;
}
.btn-primary.of-btn-outline:hover {
    background-color: #265A88;
    color: white;
}

.of-docs-header {
    padding-top: 20px;
}

.of-width-120 {
    width: 120px;
}

.of-error {
    color:  #d9534f;
    font-weight: bold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
